@{
	ViewBag.Title = "關於我";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<p></p>

<address>
	<abbr title="Phone">Phone:(886)968994188</abbr>
</address>

<address>
	<strong>Email:</strong>   <a href="mailto:zen900408@gmail.com<">zen900408@gmail.com</a><br />
</address>