@{
   
}

<div class="jumbotron">
	<h1>Moli的網站</h1>
	
	@*<p><a href="https://asp.net" class="btn btn-primary btn-lg">其他聯絡方式 &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Python小遊戲</h2>
        <p>
           人羊狼菜 
        </p>
        <p><a class="btn btn-default" href="/Project/Pygame">Demo &raquo;</a></p>
    </div>
    <div class="col-md-4">
		<h2>其他1</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
		<h2>其他2</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>