
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
	
	<div>
		<form method="post" action="/SqlHw/reply">
			<table>
				<tr>
					<td>你的名字: </td>
					<td><input type ="text" name="username"/></td>
				</tr>
				<tr>
					<td>年齡: </td>
					<td><input type ="text" name="age"/></td>
				</tr>
				<tr>
					<td colspan="2"><input type="submit" value="註冊用戶" /></td>
				</tr>
			</table>
		</form>
	</div>

</body>
</html>
